<header class="header">

    <div class="header-container">

        <!-- Logo -->
        <a routerLink="/home" class="logo">
            <!-- <img src="assets/images/logo.png" alt="Spaces by Nora"> -->
            <div class="logo-text">
                <h2>Spaces by Nora</h2>
                <span>Interior Studio</span>
            </div>
        </a>

        <!-- Navigation -->
        <nav class="nav-links">

            <a routerLink="/home" routerLinkActive="active">Home</a>

            <a routerLink="/about" routerLinkActive="active">About</a>

            <a routerLink="/services" routerLinkActive="active">Services</a>

            <a routerLink="/contact" routerLinkActive="active">Contact</a>

        </nav>

        <!-- Button -->
        <a routerLink="/contact" class="book-btn">
            Book a Call
        </a>

    </div>

</header>